section {
	min-height: 100%;
	padding-top: 100px;
	text-align: center;
	background: #FFFFFF;
	color: #1F3140;
}

section:nth-child(odd) {
	background: #EEEEEE;
}

.page-logo {
	background-repeat: no-repeat;
}

.top-nav-collapse.page-logo {
	background-image: none;
}

@media screen and (min-width: 1550px) {
	.page-logo {
		background-image: url('../images/logo.png');
		background-position: 25px 0px;
	}
	.top-nav-collapse.page-logo {
		background-position: 25px 7px;
		background-image: url('../images/logo-small.png');
	}
}

.now-stages-container li {
	padding: 5px;
}