.page-logo {
	background-repeat: no-repeat;
	background-position: 25px 0px;
}

@media screen and (min-width: 1550px) {
	.page-logo {
		background-image: url('../images/logo.png');
	}
}

.top-nav-collapse.page-logo {
	background-position: 25px 7px;
	background-image: url('../images/logo-small.png');
}

.now-stages-container li {
	padding: 5px;
}