@media screen and (min-width: 1550px) {
	.page-logo {
		background-image: url('../images/logo.png');
		background-repeat: no-repeat;
		background-position: 25px 0px;
	}
}

.top-nav-collapse.page-logo {
	background-image: none;
}

.now-stages-container li {
	padding: 10px;
}